<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <style>
        #main {
            min-height: 100vh;
        }
    </style>
</head>
<body>
    <div class="d-flex justify-content-center align-items-center" id="main">
        <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center"><%= status %> </h1>
        <div class="inline-block align-middle">
            <h2 class="font-weight-normal lead" id="desc"><%= message %></h2>
            <% if (String(status).includes('40')) { %>
                <a href="/">Kembali ke halaman utama</a>
            <% } else { %>
                <strong>Hubungi Tim IT</strong>
            <% } %> 
        </div>
    </div>
</body>
</html>