<section class="bg-main vh-100 position-relative overflow-hidden" style="padding-top: 4em;">
    <div class="container h-full">
      <div class="row h-full">
        <div class="col-12 col-lg-6 d-flex align-items-lg-center">
          <div class="text-black">
            <h1 class="fw-bold mb-4 hero-title">Sewa & Rental Mobil Terbaik di kawasan (Lokasimu)</h1>
            <p class="mb-4 hero-paragraph">Selamat datang di Binar Car Rental. Kami menyediakan mobil kualitas terbaik dengan harga terjangkau. Selalu siap melayani kebutuhanmu untuk sewa mobil selama 24 jam.</p>
          </div>  
        </div>
        <div class="col-12 col-lg-6 d-flex align-items-end">
          <div id="car-container" class="bg-dark-blue400 rounded-top-left-10">
            <img src="images/mercedes.png" alt="Mecedes Toyota" id="car-image">
          </div>
        </div>
      </div>
    </div>
</section>
<section id="cars">
    <div class="container">
        <div class="card p-4 mx-auto shadow bg-body rounded"">
            <form action="#">
                <div class="row">
                    <div class="col-lg-2 col-md-12">
                        <label for="selectCars">Tipe Driver</label>
                        <select class="form-select" aria-label="Tipe Driver" required>
                            <option selected disabled>Pilih Tipe Driver</option>
                            <option value="0">Dengan Supir</option>
                            <option value="1">Lepas Kunci</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-12">
                        <label for="date">Tanggal</label>
                        <input class="form-control" type="date" name="date" id="date" required>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <label for="time">Waktu Jemput/Ambil</label>
                        <input class="form-control" type="time" name="time" id="time" required>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <label for="capacity">Jumlah Penumpang (Optional)</label>
                        <input class="form-control" type="number" name="capacity" id="capacity" placeholder="Jumlah Penumpang">
                    </div>
                    <div class="col-lg-2 col-md-12">
                        <label for="" style="visibility: hidden;">Tombol</label>
                        <button type="button" class="form-control btn btn-success fw-bold" id="load-btn">Cari Mobil</button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<div class="container mt-5 pt-5">
  <div id="cars-container" class="row gap-3"></div>
</div>

<script type="text/javascript" src="./scripts/binar.js"></script>
<script type="text/javascript" src="./scripts/app.example.js"></script>
<script type="text/javascript" src="./scripts/car.example.js"></script>
<script src="./scripts/getCars.js"></script>