<section class="bg-main vh-100 position-relative overflow-hidden" style="padding-top: 4em;">
    <div class="container h-full">
      <div class="row h-full">
        <div class="col-12 col-lg-6 d-flex align-items-lg-center">
          <div class="text-black">
            <h1 class="fw-bold mb-4 hero-title">Sewa & Rental Mobil Terbaik di kawasan (Lokasimu)</h1>
            <p class="mb-4 hero-paragraph">Selamat datang di Binar Car Rental. Kami menyediakan mobil kualitas terbaik dengan harga terjangkau. Selalu siap melayani kebutuhanmu untuk sewa mobil selama 24 jam.</p>
            <button class="btn fw-bold bg-lime-green400 text-white" onclick="toCars()">Mulai Sewa Mobil</button>
          </div>  
        </div>
        <div class="col-12 col-lg-6 d-flex align-items-end">
          <div id="car-container" class="bg-dark-blue400 rounded-top-left-10">
            <img src="images/mercedes.png" alt="Mecedes Toyota" id="car-image">
          </div>
        </div>
      </div>
    </div>
</section>
<section class="py-5" id="service">
  <div class="container d-flex flex-column-reverse flex-lg-row py-5">
    <div class="px-5 position-relative d-flex justify-content-center justify-content-lg-end  align-items-center flex-grow-1 mt-sm-5 mt-lg-0 order-1 order-lg-0 mb-3 mb-lg-0">
      <div class="bg-dark-blue400 rounded-full" id="image-container">
        <img src="images/girl2.png" alt="Service Girl" id="girl-back">
        <img id="girl-front" src="images/girl.png" alt="Service Girl" class="position-absolute">
      </div>
      <div class="circle circle-1"></div>
      <div class="circle circle-2"></div>
      <div class="circle circle-3"></div>
    </div>
    <div class="w-half w-lg-full text-black ps-lg-4 mt-5 mt-lg-0">
      <h2 class="fw-bold fs-4 mb-4">Best Car Rental for any kind of trip in (Lokasimu)!</h2>
      <p>Sewa mobil di (Lokasimu) bersama Binar Car Rental jaminan harga lebih murah dibandingkan yang lain, kondisi mobil baru, serta kualitas pelayanan terbaik untuk perjalanan wisata, bisnis, wedding, meeting, dll.</p>
      <ul class="list-style-check d-flex flex-column gap-4">
        <li><img src="images/icons/fi_check.svg">Sewa Mobil Dengan Supir di Bali 12 Jam</li>
        <li><img src="images/icons/fi_check.svg">Sewa Mobil Lepas Kunci di Bali 24 Jam</li>
        <li><img src="images/icons/fi_check.svg">Sewa Mobil Jangka Panjang Bulanan</li>
        <li><img src="images/icons/fi_check.svg">Gratis Antar - Jemput Mobil di Bandara</li>
        <li><img src="images/icons/fi_check.svg">Layanan Airport Transfer / Drop In Out</li>
      </ul>
    </div>
  </div>
</section>
<section id="whyus" class="py-5">
  <div class="container">
    <header class="text-black text-center text-lg-start mb-5">
      <h2 class="fw-bold mb-3">Why Us?</h2>
      <p>Mengapa harus pilih Binar Car Rental?</p>
    </header>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 text-black">
      <div class="col">
        <div class="card border-secondary mb-3">
          <div class="card-body">
            <img src="images/icons/icon_complete.png" alt="Icon Complete" class="mb-3">
            <h3 class="card-title mb-3 fs-5 fw-bold">Mobil Lengkap</h3>
            <p class="card-text">Tersedia banyak pilihan mobil, kondisi masih baru, bersih dan terawat</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-secondary mb-3">
          <div class="card-body">
            <img src="images/icons/icon_price.png" alt="Icon Price" class="mb-3">
            <h3 class="card-title mb-3 fs-5 fw-bold">Harga Murah</h3>
            <p class="card-text">Harga murah dan bersaing, bisa bandingkan harga kami dengan rental mobil lain</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-secondary mb-3">
          <div class="card-body">
            <img src="images/icons/icon_24hrs.png" alt="Icon 24" class="mb-3">
            <h3 class="card-title mb-3 fs-5 fw-bold">Layanan 24 Jam</h3>
            <p class="card-text">Siap melayani kebutuhan Anda selama 24 jam nonstop. Kami juga tersedia di akhir minggu</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-secondary mb-3">
          <div class="card-body">
            <img src="images/icons/icon_professional.png" alt="Icon Profesional" class="mb-3">
            <h3 class="card-title mb-3 fs-5 fw-bold">Sopir Profesional</h3>
            <p class="card-text">Sopir yang profesional, berpengalaman, jujur, ramah dan selalu tepat waktu</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="testimonial" class="py-5">
  <div class="container">
    <header class="text-black mb-5 text-center">
      <h2 class="fw-bold mb-3">Testimonial</h2>
      <p>Berbagai review positif dari para pelanggan kami</p>
    </header>

    <!-- Carousel -->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card bg-main">
            <div class="card-body d-flex justify-content-between align-items-center">
              <img src="images/person1.png" alt="Icon Profesional" />
              <div class="ms-4">
                <p>⭐⭐⭐⭐⭐</p>
                <p class="card-text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod”</p>
                <p class="fw-bold">John Dee 32, Bromo</p>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="card bg-main">
            <div class="card-body d-flex justify-content-between align-items-center">
              <img src="images/person2.png" alt="Icon Profesional" />
              <div class="ms-4">
                <p>⭐⭐⭐⭐⭐</p>
                <p class="card-text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod”</p>
                <p class="fw-bold">John Dee 32, Bromo</p>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="card bg-main">
            <div class="card-body d-flex justify-content-between align-items-center">
              <img src="images/person3.png" alt="Icon Profesional" />
              <div class="ms-4">
                <p>⭐⭐⭐⭐⭐</p>
                <p class="card-text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod”</p>
                <p class="fw-bold">John Dee 32, Bromo</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center gap-2 mt-3">
        <button class="carousel-control carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <!-- End Of Carousel -->

    <div class="mt-5 bg-dark-blue400 text-center text-white py-5 rounded">
      <p class="fw-bold fs-5">Sewa Mobil di (Lokasimu) Sekarang</p>
      <p class="w-half mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      <a href="#" class="btn fw-bold bg-lime-green400 text-white">Mulai Sewa Mobil</a>
    </div>
  </div>
</section>

<section id="faq" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col text-center text-lg-start">
        <h2 class="fw-bold">Frequently Asked Question</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>

      <div class="col-lg-7">
        <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                Apa saja syarat yang dibutuhkan?
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
              <div class="accordion-body">
                <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                Berapa hari minimal sewa mobil lepas kunci?
              </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
              <div class="accordion-body">
                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                Berapa hari sebelumnya sabaiknya booking sewa mobil?
              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
              <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                Apakah Ada biaya antar-jemput?
              </button>
            </h2>
            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
              <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                Bagaimana jika terjadi kecelakaan
              </button>
            </h2>
            <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
              <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="scripts/main.js"></script>