<section class="p-2 h-full">
    <div class="container-fluid h-full">
        <header>
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item" aria-current="page">List Cars</li>
                    <li class="breadcrumb-item active" aria-current="page">Add Car</li>
                </ol>
            </nav>
        </header>

        <form action="http://localhost:3000/cars" enctype="multipart/form-data" method="post" id="addCar" style="height: calc(100% - 70px);">
            <h2>Add New Car</h2>
            <div class="d-flex flex-column">
                <div id="car-wrapper">
                    <div class="row">
                        <div class="col-2">
                            <label for="name" class="form-label">Nama:</label>
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <label for="rent" class="form-label">Sewa per Hari:</label>
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" id="rent" name="rent" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <label for="size" class="form-label">Ukuran:</label>
                        </div>
                        <div class="col-4">
                            <select name="size" id="size" class="form-select" required>
                                <option value="small">Small</option>
                                <option value="medium">Medium</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <label for="image" class="form-label">Foto:</label>
                        </div>
                        <div class="col-4">
                            <input type="file" name="car-image" id="image" class="form-control" aria-describedby="fileHelp">
                            <div id="fileHelp" class="form-text">File size max. 2MB</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <label class="form-label">Start Rent</label>
                        </div>
                        <div class="col-4">
                            <label class="form-label">-</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <label class="form-label">Finish Rent</label>
                        </div>
                        <div class="col-4">
                            <label class="form-label">-</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <label class="form-label">Created at</label>
                        </div>
                        <div class="col-4">
                            <label class="form-label">-</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <label class="form-label">Updated at</label>
                        </div>
                        <div class="col-4">
                            <label class="form-label">-</label>
                        </div>
                    </div>
                </div>
                <div class="d-flex gap-3 mt-3">
                    <a href="/admin" class="btn">Cancel</a>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</section>

<script>
    const formEl = document.getElementById('addCar')
    formEl.addEventListener('submit', (event) => {
        event.preventDefault()
        const name = document.getElementById('name')
        const rent = document.getElementById('rent')
        const size = document.getElementById('size')
        const image = document.getElementById('image')

        const formData = new FormData()
        formData.append('name', name.value)
        formData.append('rent', rent.value)
        formData.append('size', size.value)
        formData.append('car-image', image.files[0])
        const token = document.cookie.split('access_token=')[1]
        fetch("http://localhost:3000/cars", {
            method: 'POST',
            body: formData,
            headers: {
                "Authorization": `Bearer ${token}`
            }
        }).then(async (res) => {
            const response = await res.json()
            console.log(response)
            if(response.success) {
                window.location.href = 'http://localhost:8080/admin?action=add' 
                return
            } 
            Swal.fire({
            title: 'Gagal menambah mobil',
            text: response.message,
            })

        })
    })
</script>