<section class="p-2 h-full">
    <div class="container-fluid h-full">
        <header>
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item" aria-current="page">List Cars</li>
                    <li class="breadcrumb-item active" aria-current="page">Update Car</li>
                </ol>
            </nav>
        </header>
        <form action="http://localhost:3000/cars" enctype="multipart/form-data" method="post" id="updateCar" style="height: calc(100% - 70px);">
            <h2>Update Car Information</h2>
            <!-- <input type="hidden" name="_method" value="PUT"> -->
            <div class="d-flex flex-column justify-content-between">
                <div id="car-wrapper">
                    <div class="row">
                        <input type="text" name="id" value="<%= data.data.data.id %>" id="id" hidden>
                        <div class="col-2">
                            <label for="name" class="form-label">Nama:</label>
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" id="name" name="name" value="<%= data.data.data.name %> " required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <label for="rent" class="form-label">Sewa per Hari:</label>
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" id="rent" name="rent" value="<%= data.data.data.rent %>" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <label for="size" class="form-label">Ukuran:</label>
                        </div>
                        <div class="col-4">
                            <select name="size" id="size" class="form-select" required>
                                <option value="small" <% if (data.data.data.size == 'small') { %>
                                 selected
                                <% } %>>Small</option>
                                <option value="medium" <% if (data.data.data.size == 'medium') { %>
                                    selected
                                   <% } %>>Medium</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <label for="image" class="form-label">Foto:</label>
                        </div>
                        <div class="col-4">
                            <input type="file" name="car-image" id="image" class="form-control" aria-describedby="fileHelp">
                            <div id="fileHelp" class="form-text">File size max. 2MB</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <label class="form-label">Start Rent</label>
                        </div>
                        <div class="col-4">
                            <label class="form-label">-</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <label class="form-label">Finish Rent</label>
                        </div>
                        <div class="col-4">
                            <label class="form-label">-</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <label class="form-label">Created at</label>
                        </div>
                        <div class="col-4">
                            <label class="form-label">-</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <label class="form-label">Updated at</label>
                        </div>
                        <div class="col-4">
                            <label class="form-label">-</label>
                        </div>
                    </div>
                </div>
                <div class="d-flex gap-3 mt-3">
                    <a href="/admin" class="btn">Cancel</a>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</section>

<script>
    const formEl = document.getElementById('updateCar')
    formEl.addEventListener('submit', (event) => {
        event.preventDefault()
        const id = document.getElementById('id').value
        const name = document.getElementById('name')
        const rent = document.getElementById('rent')
        const size = document.getElementById('size')
        const image = document.getElementById('image')

        if (id == null) {
            Swal.fire({
                title: 'Gagal Menghapus Data',
                text: 'Terjadi kesalahan',
                iconHtml: '<img src="/images/icons/img-BeepBeep.png">',
            })

            return
        }

        const formData = new FormData()
        formData.append('name', name.value)
        formData.append('rent', rent.value)
        formData.append('size', size.value)
        formData.append('car-image', image.files[0])
        const token = document.cookie.split('access_token=')[1]
        fetch(`http://localhost:3000/car/${id}`, {
            method: 'PUT',
            body: formData,
            headers: {
                "Authorization": `Bearer ${token}`
            }
        }).then(async (res) => {
            const response = await res.json()
            console.log(response)
            if (response.success) {
                window.location.href = 'http://localhost:8080/admin?action=add'
                return
            }

            Swal.fire({
                title: response.title,
                text: response.message,
                iconHtml: '<img src="/images/icons/img-BeepBeep.png">',
            })
        })
    })
</script>