<nav class="navbar shadow-sm navbar-light bg-body">
    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <a class="navbar-brand" href="/admin">Binar Car Rental</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="d-flex gap-3">
            <form class="d-flex" action="#">
                <input class="form-control shadow-none" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary fw-bold shadow-none" type="button">Search</button>
            </form>
            <div class="btn-group">
                <button class="btn bg-body dropdown-toggle d-flex align-items-center gap-2" type="button" id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                    <div id="photo-profile" class="fw-bold">
                        <span><%= data.user.firstName[0] %> </span>
                    </div>
                    <span><%= data.user.lastName %> </span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
                  <!-- <li><a class="dropdown-item" href="#">Menu item</a></li>
                  <li><a class="dropdown-item" href="#">Menu item</a></li> -->
                  <li class="d-flex justify-content-center"><button class="btn btn-danger" onclick="logout()">Keluar</button></li>
                </ul>
            </div>
        </div>
    </div>
</nav>